html {
  box-sizing: border-box;
}
  
*,
*::before,
*::after {
  box-sizing: inherit;
}
  
:root {
  --txt-grey: #B0B0B0; 
  --firm: #9873FF;
  --grey: #C8C5D1;
}

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
  
/* @font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-SemiBold'), url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
  url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
  
@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans-Bold'), url('../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */
  
body {
  max-width: 1366px;
  margin: auto;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
  
.add-btn {
  display: block;
  margin: auto;
  padding: 12px 26px 12px 58px;
  border: 1px solid var(--firm);
  background-color: transparent;
  background-image: url('./assets/btnpic.svg');
  background-repeat: no-repeat;
  background-position: left 26px center;
  color: var(--firm);
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}
  
.container {
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  background-color: #F5F5F5;
  box-shadow: 0 7px 33px -21px rgb(0 0 0 / 32%);
}

.header-container {
  padding-top: 23px;
  padding-bottom: 23px;
  background-image: url('./assets/logo.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.header-input {
  width: 581px;
  margin-left: 103px;
  padding: 12px 0 13px 16px;
  color: black;
  border: 1px solid var(--txt-grey);
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.header-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--txt-grey);
}

/* 
.main__title {
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
} */

/* th {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--txt-grey);
} */

/* MODAL */
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
  transition: .3s all;
}

.modal {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  max-width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; 
  box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
  text-align: center;
  padding: 30px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

.modal.active,
.overlay.active {
  visibility: visible;
  opacity: 1;
}

.modal-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #333333;
}

.modal-form {
  width: 450px;
  display: flex;
  flex-direction: column;
}

.modal-input {
  height: 41px;
  border: none;
  border-bottom: 1px solid var(--grey);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #333333;
}
